[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "external/SOIL2"]
	path = external/SOIL2
	url = https://github.com/SpartanJ/SOIL2
[submodule "external/libyuv"]
	path = external/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
